/* !-- Open Sans -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@import url(//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic);




/* !-- Tiamat -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
  font-family: "Tiamat Condensed Regular";
  src: url('../fonts/Tiamat/tiamatcondensedsc-regular-webfont.woff2') format('woff2'),
       url('../fonts/Tiamat/tiamatcondensedsc-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}




/* !-- Icomoon -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg?#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-magnifying-glass:before {
	content: "\e905";
}
.icon-clock:before {
	content: "\e904";
}
.icon-podcast-download:before {
	content: "\e902";
}
.icon-plus-slim:before {
	content: "\e903";
}
.icon-arrow-right-slim:before {
	content: "\e901";
}
.icon-play-rounded:before {
	content: "\e900";
}
.icon-play:before {
	content: "\70";
}
.icon-plus:before {
	content: "\2b";
}
.icon-close:before {
	content: "\58";
}
.icon-menu-mobile:before {
	content: "\6d";
}
.icon-arrow-down-light:before {
	content: "\64";
}
.icon-arrow-up-light:before {
	content: "\75";
}
.icon-arrow-left-light:before {
	content: "\28";
}
.icon-arrow-right-light:before {
	content: "\29";
}
.icon-arrow-down:before {
	content: "\44";
}
.icon-arrow-up:before {
	content: "\55";
}
.icon-arrow-left:before {
	content: "\3c";
}
.icon-arrow-right:before {
	content: "\3e";
}
.icon-external-link:before {
	content: "\e911";
}