$color-header-highlight: $color-primary;
$color-light: #939393;
$color-gray-cta: #3e3c41;
$color-dark-separator: #1a1a1a;

/* !-- Header -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

  header {
    background-size: auto 100%;
    background: #e7e7db;
    z-index: 400;
	position: relative;
	border-bottom: 4px solid $color-primary;
  }

  #page.snap-menu header {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: top .25s ease-in-out;
  }
  #page.snap-menu.breaking-news header {
    top: 100px;
  }
  #page.snap-menu.alert header {
    top: 50px;
  }

  header .wrapper {
    max-width: $page-width;
    height: 60px;
    margin: 0 auto;

    @media ($breakpoint-tablet-landscape) {
      width: 100%;
      padding: 0 10px;
    }
  }

	// #page header .wrapper { height: 60px; }
  #page.snap-menu header .wrapper {
    height: 60px;
  }

  header .home {
    width: 124px;
    height: 42px;
    display: block;
    outline: 0;
    margin-right: 25px;
    z-index: 5000;
    transition-property: width, height, top;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  /* Header logo */
/* Header logo */
	#page header .home span,
	#page.snap-menu header .home span {
	text-indent: -999px;
	width: 100%;
	height: 100%;
	background: url(../img/interface/dungeons-and-dragons-logo.png) 0 0 no-repeat !important;
	background-size: 200% auto !important;
	display: block;
	position: relative;
	z-index: 402;
	overflow: hidden;
}


  /* Breaking News */
  #breaking-news {
    height: 100px;
    background-color: #000;
    border-bottom: 1px solid #af5d10;
    z-index: 400;
    overflow: hidden;
  }
  #breaking-news .page-width {
    position: relative;
  }
  #breaking-news .visual {
    width: 29.166666666667%;
    height: 100px;
    display: block;
    overflow: hidden;
    float: left;
    position: relative;
  }
  #breaking-news .visual img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
  }
  #breaking-news .content {
    width: 70.833333333333%;
    padding: 15px 30px 0 15px;
    float: left;
  }
  #breaking-news .content h3 {
    margin: 0 0 5px;
    padding: 0 10px 0 0;
    color: #fff;
    font-size: 1.6rem;
  }
  #breaking-news .content p {
    margin: 0;
    padding: 0 10px 0 0;
    font-size: 1.35rem;
    color: #a9a9a9;
  }
  #breaking-news .content p a {
    font-style: italic;
    color: #a9a9a9;
  }
  #breaking-news .content:after {
    content: ".";
    width: 0;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
  }
  #breaking-news .close {
    width: 30px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 999;
    background: url(../img/interface/close.svg) 0 0 no-repeat;
    background-size: 100% auto;
    text-indent: -9999px;
  }
  #breaking-news .close.dark {
    background: url(../img/interface/dark-close.svg) 0 0 no-repeat;
    background-size: 100% auto;
  }
  #page.breaking-news #breaking-news {
    display: block;
  }

  #page.snap-menu #breaking-news {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  /* Alert */
  #alert {
    height: 60px;
    padding: 15px;
    background: #be3a31;
    border-bottom: 1px solid #af5d10;
    z-index: 400;
    overflow: hidden;
  }
  #alert .page-width {
    position: relative;
  }
  #alert p span {
    display: inline-block;
    color: #fff;
    font-size: 1.6rem;
  }
  #alert p {
    margin: 0;
    padding: 0 35px 0;
    display: inline-block;
    color: #e0afad;
    font-size: 1.4rem;
  }
  #alert p a {
    color: #e0afad;
    font-style: italic;
  }
  #alert .close {
    width: 30px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    position: absolute;
    top: -5px;
    right: 0;
    z-index: 999;
    background: url(../img/interface/close.svg) 0 0 no-repeat;
    background-size: 100% auto;
    text-indent: -9999px;
  }

  #page.alert #alert {
    display: block;
  }
  #page.snap-menu #alert {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }


/* !-- Header Utilities -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #utils {
    float: right;
    position: relative;
    padding-top: 10px;
    height: 60px;
  }
  #page.snap-menu header #utils {
    display: none;
  }

  #utils a {
    color: #7e7e7e;
    float: left;
    font-size: 1.1rem;
    font-weight: 600;
    margin: 0 0 0 15px;
    padding: 9px 0 9px 34px;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    transition: color $transition-duration $transition-timing-function;
  }
  #utils a:hover, #utils a:focus {
    color: #be630e;
  }

  #utils a:after {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 1em;
    font-family: "icomoon", sans-serif;
    text-transform: none;
    text-align: center;
    width: 34px;
    position: absolute;
    top: .2em;
    left: 0;
  }

  #utils a.locator:after {
    content: "l";
  }
  #utils a.gatherer:after {
    content: "g";
  }

  #utils a.login:after,
  #utils a.logout:after {
    content: "1"
  }

  #utils a.register,
  #utils a.account {
    margin-left: 0;
    padding-left: 0;
  }
  #utils a.register:before,
  #utils a.account:before {
    content: "|";
    color: #7e7e7e;
    margin: 0 5px;
  }

  #utils #search-form {
    float: left;
    margin: 2px 10px 0 20px;
    padding: 0;
    position: relative;
  }
  #utils #search-form .form-item {
    margin: 0 !important;
  }
  #utils #search-form input {
    background-color: #424040;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    border: 0 none;
    padding: 5px 5px 5px 35px;
    border-radius: 3px;
    transition: background-color .25s ease-in-out;
  }
  #utils #search-form input:focus {
    outline: 0;
    background-color: #212121;
  }
  #utils #search-form .form-item:before {
    content: "s";
    color: #727070;
    font-family: "icomoon", sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1em;
    text-align: center;
    text-transform: none;
    margin-top: -.5em;
    position: absolute;
    top: 50%;
    left: 8px;
  }


@media ($breakpoint-tablet-portrait) {
  #utils {
    display: none;
    float: none;
    position: relative;
    height: 60px;
    width: 270px;
    background-color: #212121;
  }
  #utils .gatherer, #utils .locator {
    display: none !important;
  }
  #utils #search-form {
    display: none;
    margin: 0 0 0 10px;
    border-radius: 1px;
    z-index: 5000;
  }
  #utils #search-form input {
    padding: 7px 5px 7px 35px;
    width: 250px;
  }
  #utils.visible, #utils.visible #search-form, #page.snap-menu header #utils.visible {
    display: block;
  }
}

/* !-- Menu -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #menu {
    display: flex;
    z-index: 400;
    width: 100%;
    height: 60px;
	align-items: center;

	* { outline: none !important; }
  }
  #menu.snap {
    background: url(../img/interface/bg-header.png) 0 0 repeat-x;
    background-size: 100% 100%;
  }
  #menu .menu-wrapper {
    width: 830px;
    margin: 0 auto;
    height: 60px;
    flex-grow: 1;
  }
  #menu a {
    text-decoration: none; cursor: pointer;
  }
  #menu a, #menu p {
    color: #5a5a5a;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.0em;
    text-transform: uppercase;
    display: block;
  }
  #menu ul.main-menu {
    float: right;
    margin: 0;
    height: 60px;
    list-style: none;
    width: 100%;
  }

  body.use-sticky-menu #menu ul.menu {
    opacity: 0;
    transition: opacity $transition-duration $transition-timing-function;
  }
  body.use-sticky-menu header:hover #menu ul.menu {
    opacity: 1;
  }

  /*--------------- Top level left and right ------------*/

  #menu ul.main-menu li.top_level,
  #menu ul.main-menu li.top_level_right {
    text-align: center;
    display: block;
    float: left;
    margin: 0 !important;
    padding: 0;
    min-width: 86px;
    max-width: 180px;
    height: 60px;
    transition: background-color .15s ease-in-out;
  }
  #menu ul.main-menu li.top_level {
    float: left;
  }
  #menu ul.main-menu li.top_level_right {
    float: right;
  }

  #menu ul.main-menu li.top_level_right a {
    text-transform: none;
	font-weight: normal;
	display: flex;
	align-items: center;

	img {
		width: 20px;
		height: auto;
		margin: 0;
		padding: 0;
		display: block;
	}
  }
  #menu ul.main-menu li.top_level_right a span {
	padding: 0 15px 0 5px !important;
	text-align: left;

	&::before { text-transform: none; }
  }
  #menu ul.main-menu li.top_level_right a.ico-accounts span {
	  padding-left: 35px !important;
  }

  #menu ul.main-menu li.top_level > a,
  #menu ul.main-menu li.top_level_right > a,
  #menu ul.main-menu li.cta > a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    transition: color $transition-duration $transition-timing-function;
    transition-property: color, background-color;
    position: relative;
  }
  #menu ul.main-menu li.top_level a span,
  #menu ul.main-menu li.top_level_right a span {
    line-height: 1em;
    width: 100%;
    padding: 0 15px;
    display: block;
  }
  #menu ul.main-menu li.top_level li,
  #menu ul.main-menu li.top_level_right li,
  #menu ul.main-menu li.default {
	span {
		width: 100%;
		padding: 0;
		display: block;
	}

	a.cta-external-link-icon span::after { @include icomoon(" "$icon-external-link, 14px); }
  }

  #menu ul.main-menu li.top_level:hover,
  #menu ul.main-menu li.top_level_right:hover {
    background-color: transparent;
  }

	body:not(.mobile) #menu ul.main-menu li.top_level:hover > a,
	body:not(.mobile) #menu ul.main-menu li.top_level_right:hover > a,
	body.mobile #menu ul.main-menu li.top_level.touched > a,
	body.mobile #menu ul.main-menu li.top_level_right.touched > a {
		color: $color-primary;
	}

  #menu ul.main-menu li.top_level.current a span:after,
  #menu ul.main-menu li.top_level_right.current a span:after {
    content: "";
    height: 2px;
    background: $color-primary;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }

  /* Live Event icon */
  #menu ul.main-menu li.top_level a.live {
	background: url(../img/interface/live-icon.png) no-repeat;
	background-size: 20% !important;
	background-position: 50% 50%;
  }

#menu .more {
    color: rgba(white, .75) !important;
    font-weight: $fontweight-bold !important;
  }
  #menu .more span:after {
    content: ">";
    color: $color-primary;
    font-weight: 700;
    font: normal 9px/1em "icomoon", sans-serif;
    margin: 0 0 0 5px;
  }
  #menu .more:before {
    content: "";
  }

  #menu li.hub-link {
    display: none !important;
  }

  /* Tool icomoon svg icons */
  .ico-gatherer span:before {
    color: #fff;
    content: "g";
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 18px;
    left: 0px;
  }
  .ico-locator span:before {
    color: #5a5a5a;
    content: $icon-locator;
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 18px;
    left: 6px;
  }

  .ico-accounts span:before {
    color: #fff;
    content: "1";
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 18px;
    left: 6px;
  }

  /*--------------- Mega menu content ------------*/
  #menu .top_level .mega_menu {
    background-color: rgba(0, 0, 0, .97);
    position: absolute;
    top: 59px;
	left: 0;
	right: 0;
    height: 0;
    list-style: none;
    margin: 0;
    border-top-width: 3px;
    border-top-color: $color-header-highlight;
    border-top-style: solid;
    overflow: hidden;
    opacity: 0;
    transition: opacity $transition-duration $transition-timing-function;
	pointer-events: none;
	border-bottom: 1px solid #3b3b3b;
	z-index: 2;
  }
  /* Open/close menu begavior */
  body:not(.mobile) #menu .top_level:hover,
  body.mobile #menu .top_level.touched {
	.mega_menu {
		height: auto;
		min-height: 150px;
		max-height: calc(100vh - 60px);
		padding: 30px 0 0 0;
		opacity: 1;
		overflow: auto;
		overflow-x: hidden;
		pointer-events: auto;
	}
  }
  /* Current menu arrow down */
  #menu .top_level {
    & > a:after {
      color: $color-primary;
      content: $icon-arrow;
      font: normal 13px/1em "icomoon", sans-serif;
      position: absolute;
      top: 60px;
      left: calc(50% - 7px);
      z-index: 10;
      pointer-events: none;
      transform: scaleY(0);
      transform-origin: 50% 0;
      transition: transform $transition-duration $transition-timing-function;
    }
  }
  body:not(.mobile) #menu .top_level:hover,
  body.mobile #menu .top_level.touched {
	&  > a::after { transform: none; }
  }



  /* No down arrow if no child content */
  #menu .leaf > a:not(.more):after {
	content: "" !important;
	display: none !important;
  }

  #menu .top_level .mega_menu_content {
    max-width: $page-width;
    margin: 0 auto;
    position: relative;
	list-style: none;
	text-align: left;
	padding-bottom: 100px;

	&.bottom-cta-active {
		padding-bottom: 0;
	}

    @media ($breakpoint-tablet-landscape) {
      width: 100%;
      padding: 0 20px;
    }
  }
  #menu .top_level .mega_menu_content li {
    display: block;
    position: relative;
    height: auto;
    list-style: none;
	margin: 0 0 20px;
	background-color: transparent;
  }
  #menu .top_level .mega_menu_content:not(.gallery) > li > a {

	font-size: 1.6rem; margin: 0 0 20px; display: inline-block; position: relative;
	transition: color $transition-duration $transition-timing-function;

    &:before {
      width: 100%;
      height: 2px;
      content: "";
      position: absolute;
      top: 22px;
	  left: 0;
	  background: linear-gradient(to right, rgba(0,0,0,1) 1%,rgba(157,10,14,1) 52%,rgba(0,0,0,1) 100%);
    }
  }

  #menu .top_level .mega_menu_content li span.nolink {

	font-size: 1.6rem; margin: 0 0 20px; display: block; position: relative;
	transition: color $transition-duration $transition-timing-function;

    &:before {
      width: 100%;
      height: 2px;
      content: "";
      position: absolute;
      top: 22px;
	  left: 0;
	  background: linear-gradient(to right, rgba(0,0,0,1) 1%,rgba(157,10,14,1) 52%,rgba(0,0,0,1) 100%);
    }
  }

 #menu .top_level .mega_menu_content .cta.leaf.last.top_level_cta .more {

	text-align: center;
	padding: 15px 0;
	margin: 0;

	&:after {
		display: inline-block;
		content: ">" !important;
		color: $color-primary;
		font-weight: 700;
		font: normal 14px/1em "icomoon", sans-serif;
		margin: 0 0 0 5px;
		position: relative;
		left: 5px;
		top: 2px;
	}

	&:before {
		display: none !important;
	}

 }


	#menu .top_level .mega_menu_content > li > a {
		&:not(.nolink):hover { color: $color-header-highlight; }

		&.nolink {
			cursor: default; pointer-events: none;
			* { pointer-events: initial; }
		}
	}

  #menu .mega_menu_content li a {
    text-align: left;
	margin: 0px 0 7px;
	color: white;
  }

	body:not(.mobile) .top_level:hover,
	body.mobile .top_level.touched {
		.mega_menu_content {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}
	}
  .default img {
    max-height: 250px;
  }

  #menu .mega_menu_content .img-with-label {
    width: 100%;
    text-align: left;
    font-weight: $fontweight-thin;
    font-size: 1.6rem;
  }

  .mega_menu_content .img-with-promo {
    position: relative;
  }

  .mega_menu_content .img-with-promo .promo {
    position: absolute;
    top: 0;
    left: 50%;
    display: inline-block;
    max-width: 167px;
    background-color: $color-primary;
    padding: 2px 15px;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: $fontweight-regular;
    color: $color-white;
	transform: translateX(-50%);
	z-index: 2;
  }

  #menu .mega_menu_content .img-with-label img {
    display: block;
    max-height: 250px;
    margin: 0 0 10px;
  }

  /*--------------- Mega menu content:: Column ------------*/
  #menu .mega_menu_content:not(.gallery) li.column {
	margin-right: 50px;
	flex-shrink: 1;
	width: 20%;
  }

  #menu .mega_menu_content.gallery { display: flex; flex-wrap: wrap;

	li.default { margin: 0 15px 50px 0;

		a { text-align: center; color: rgba(255,255,255, 0.5); text-transform: none; font-weight: $fontweight-regular; transition: color $transition-duration $transition-timing-function;

			.img-with-label { position: relative; overflow: hidden; margin: 0 0 10px !important;

				&:after { content: ""; height: 10px; display: block; background-color: $color-primary; position: absolute; left: 0; right: 0; bottom: 0; transform: translateY(10px); transition: transform $transition-duration $transition-timing-function; }

				img { margin: 0; }

			}

			&:hover .img-with-label {

				&:after { transform: translateY(0); }

			}

		}

	}

	li.with-image {
		a.cta-external-link-icon span:nth-child(2)::after { @include icomoon(" "$icon-external-link, 14px); }
	}

  }

  #menu .mega_menu_content.gallery li.column {
	width: calc(25% -20px);
  }

  #menu .mega_menu_content li.column li {
    width: 100%;
    margin: 0;
  }
  #menu .mega_menu_content li.column li a {
    color: $color-light;
	text-transform: none;
	transition: $transition-duration $transition-timing-function;
  }
  #menu .mega_menu_content li.column li a:hover {
    color: $color-header-highlight !important;
  }
  #menu .mega_menu_content ul.submenu-col {
    padding-top: 7px;
    margin: 0;
    overflow: auto;

    + a.nolink {
      margin-top: 20px;
    }

    li a {
      font-size: 1.6rem;
      font-weight: $fontweight-thin;
      color: rgba($color-white, .75);
    }
  }
  #menu .mega_menu_content ul.submenu-col > a:hover {
    color: $color-header-highlight;
  }

  /*--------------- Mega menu content:: Carousel ------------*/
  #menu .mega_menu_content li.carousel {
    width: 100%;
  }
  #menu .mega_menu_content li.carousel li {
    width: 100%;
    margin: 0;
  }
  #menu .mega_menu_content .submenu-carousel .slick-slide a {
    color: $color-white;
	text-transform: none;
	transition: color $transition-duration $transition-timing-function;
  }
  #menu .mega_menu_content .submenu-carousel .slick-slide a:hover {
    color: $color-header-highlight;
  }
  #menu .mega_menu_content .submenu-carousel .slick-slide span {
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    font-weight: $fontweight-thin;
  }
  #menu .mega_menu_content .submenu-carousel {
    margin: 0 0 30px;
    position: relative;
  }
  #menu .mega_menu_content .submenu-carousel .slick-track {
    padding-top: 10px;
  }
  #mobile-menu .submenu-carousel {
    width: 100%;
    padding-left: 20px;
  }

  #menu .mega_menu_content .submenu-carousel span img,
  #mobile-menu .submenu-carousel span img {
    max-width: 200px;
    max-height: 250px;
    margin: 0 auto 10px auto;
  }

  /* Slick Carousel styles */
  #menu .mega_menu_content .submenu-carousel .slick-slider {
    width: 98%;
    margin: 0 auto;
  }
  #menu .mega_menu_content .submenu-carousel .slick-slider .slick-slide {
    height: 100%;
  }
  #menu .mega_menu_content .submenu-carousel .slick-prev,
  #menu .mega_menu_content .submenu-carousel .slick-next {
    margin: -.5em 0 0;
    top: 50%;
    font-family: "icomoon", sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    text-transform: none !important;
    position: absolute;
    color: white;
	cursor: pointer;
	transition: color $transition-duration $transition-timing-function;
  }

  #menu .mega_menu_content .submenu-carousel .slick-prev:hover,
  #menu .mega_menu_content .submenu-carousel .slick-next:hover,
  #mobile-menu .submenu-carousel .slick-prev:hover,
  #mobile-menu .submenu-carousel .slick-next:hover {
    color: $color-header-highlight;
  }
  #menu .mega_menu_content .submenu-carousel .slick-next,
  #mobile-menu .submenu-carousel .slick-next {
    right: 3px;
  }

  #menu .mega_menu_content .submenu-carousel .slick-prev,
  #mobile-menu .submenu-carousel .slick-prev {
    left: 3px;
  }

  /*--------------- Mega menu content:: CTA ------------*/
  #menu .top_level .mega_menu_content > li.cta > a:before {
    border: none;
  }
 #menu .top_level .mega_menu_content li.cta a {
    display: inline-block;
	color: $color-white !important;

	&::after {
		display: inline-block;
		content: ">" !important;
		color: $color-primary;
		font-weight: 700;
		font: normal 12px/1em "icomoon", sans-serif;
		margin: 0 0 0 5px;
		position: relative;
		left: 8px;
	  }

  }


 #menu .top_level .mega_menu_content > li.cta {
    position: relative;
    width: 100%;
    clear: both;
    flex-basis: 100%;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: $color-gray-cta;
      width: 100vw;
      height: 50px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }

  #menu .top_level .mega_menu_content li.cta:hover a {
    color: $color-header-highlight !important;
  }

  #menu .top_level .mega_menu_content li.cta a.more:after {
    content: ">" !important;
    display: inline-block;
    color: $color-header-highlight;
    font-weight: 700;
    font: normal 12px/1em "icomoon", sans-serif;
    margin: 0 0 0 5px;
	transform: translateY(-2px);
	position: relative;
	top: 2px;
	left: 2px;
  }

  #menu .top_level .mega_menu_content li.cta {
    margin: 0px;
  }


/**/
@media (max-width: 1790px) {
  #menu li:nth-last-child(2) ul li.has-children ul, #menu li:last-child ul li.has-children ul {
    left: auto !important;
    right: 100% !important;
  }

  #menu li:nth-last-child(2) li.has-children:after, #menu li:last-child li.has-children:after {
    transform: rotate(180deg);
    transition: left .25s ease-in;

    right: auto !important;
    left: 0 !important;

  }

  #menu li:nth-last-child(2) li.has-children:hover:after, #menu li:nth-last-child(2) li.has-children:focus a:after
  #menu li:last-child li.has-children:hover:after, #menu li:last-child li.has-children:focus a:after {
    opacity: 1;
    right: inherit !important;
    left: -9px !important;
    opacity: 1;
    transform: rotate(180deg);
  }
}

@media ($breakpoint-tablet-portrait) {
  #menu .menu-wrapper, #menu .menu-wrapper ul, #menu .menu-wrapper ul li {
    display: none;
    height: 0;
  }

  #menu {
    float: none;
    position: absolute;
    top: 0;
  }
  #menu a {
    line-height: 1.2em;
  }
  #menu li.hub-link a, #menu li.hub-link p {
    font-size: 1.6rem;
    padding-top: 16px;
  }
  #menu ul {
    float: none;
    margin: 0;
    height: auto;
    background-color: #292929;
  }
  #menu ul li {
    text-align: left;
    border-bottom: 1px solid #424242;
    width: 100%;
    height: auto;
    margin-left: 0;
    display: block;
    max-width: none;
  }
  #menu ul li:before {
    content: 'b';
    font-family: "icomoon", sans-serif;
    font-weight: normal;
    font-size: 0.6rem;
    color: #7d7d7d;
    position: absolute;
    top: 14px;
    left: 15px;
  }
  #menu ul#mm-0 li a {
    font-size: 1.6rem;
    padding-top: 16px;
    padding-left: 15px;
  }
  #menu ul#mm-0 li:before {
    content: '';
  }
  #menu ul li:after {
    content: 'P';
    font-family: "icomoon", sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    top: 14px;
    right: 15px;
  }
  #menu ul li.hub-link:before, #menu ul li.mm-subtitle:before, #menu ul li.mm-subtitle:after, #menu ul li.hub-link.no-link:after {
    content: '';
  }
  #menu ul li.has-children:after {
    content: '>';
    font-family: "icomoon", sans-serif;
    font-weight: normal;
    color: #fff;
    position: absolute;
    top: 14px;
    right: 15px;
  }
  #menu ul li a {
    padding: 15px 36px;
    display: block;
  }
  #menu ul li a:hover {
    background-color: #be630e;
  }
  #menu ul li.current a:after {
    width: 2px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
  }
  #menu ul li.current:hover a:after, #menu ul li.current li a:after {
    display: block;
  }
  #menu .mm-menu ul li a:hover {
    background-color: #403d3d;
  }
  #menu ul li:before {
    background: none;
  }
  #menu .menu-wrapper {
    width: 270px;
    height: 100%;
    margin: 50px 0 0 0;
    background-color: #212121;
    display: block;
  }
  #menu ul li.hub-link {
    display: block !important;
  }
  #menu ul li.hub-link a, #menu ul li.hub-link p {
    padding-left: 15px;
  }
  #menu ul li.hub-link p {
    color: #ababab;
  }
  #menu ul li.hub-link:hover {
    background-color: transparent;
  }
}

/* !-- Mobile Menu -- */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
  #mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background: rgba(33, 33, 33, 0);
    z-index: 5000;
    display: none;
	transition: background-color .25s ease-in-out;

	* { outline: none !important; }
  }

  #page.breaking-news #mobile-menu {
    top: 170px;
  }
  #page.alert #mobile-menu {
    top: 60px;
  }

  .mobile-menu-open #mobile-menu {
    background: rgba(33, 33, 33, .3);
    bottom: 0;
  }

  #mobile-menu .header {
    position: relative;
    height: 50px;
    background-color: #e7e7db;
    background-size: auto 100%;
  }
  #mobile-menu .header .logo {
    position: absolute;
    top: 50%;
    left: 50%;
  }
  #mobile-menu .header .logo a {
    width: 120px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
	transform: translate(-50%, -50%);
	-webkit-backface-visibility: hidden;

	span {
		text-indent: -999px;
		width: 100%;
		height: 100%;
		background: url(../img/interface/dungeons-and-dragons-logo.png) 0 0 no-repeat !important;
		background-size: 200% auto !important;
		display: block;
		position: relative;
		z-index: 402;
		overflow: hidden;
	}

  }

  #mobile-menu .header .toggle-menu-button {
    padding: 10px 10px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
  }
  #mobile-menu .header .toggle-menu-button:after {
    content: "m";
    color: #5d5d5d;
    font: 20px/1em "icomoon", sans-serif;
    top: 15px;
    position: absolute;
    left: 15px;
  }
  .mobile-menu-open #mobile-menu .header .toggle-menu-button:after {
    content: "X"; color: $color-primary;
  }

  #mobile-menu .menu-wrapper {
    position: absolute;
    top: 0px;
    right: 0;
    bottom: 0;
    left: 0;
  }
  #mobile-menu nav {
    width: 270px;
    position: absolute;
    top: 50px;
    bottom: 0;
    left: -270px;
    background: #000;
    transition: transform .25s ease-in-out;
  }

  #mobile-menu .submenu-carousel a, #mobile-menu .ad a {
    color: $color-light;
    text-transform: none;
  }
  #mobile-menu .submenu-carousel .slick-slide span, #mobile-menu .ad span {
	width: 100%;
	display: block;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    position: relative;
  }

  #mobile-menu nav form {
    height: 60px;
    display: table;
    width: 100%;
    position: relative;
    background: #000;
  }
  #mobile-menu nav form .form-item {
    vertical-align: middle;
    margin: 0 !important;
    padding: 10px 15px 0;
    position: relative;
  }
  #mobile-menu nav form input[type="text"] {
    color: #fff;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.3em;
    font-family: inherit;
    width: 100%;
    padding: 5px 5px 5px 35px;
    border: 0;
    outline: 0;
    background: #3d3c3c;
    display: block;
    border-radius: 3px;
    box-shadow: 0 0 3px #212121 inset;
  }
  #mobile-menu nav form input[type="text"]:focus {
    background: #545252
  }
  #mobile-menu nav form:after {
    content: "s";
    color: #727070;
    font: normal 15px/1em "icomoon", sans-serif;
    margin-top: -.5em;
    position: absolute;
    top: 50%;
    left: 25px;
  }

  #mobile-menu nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  #mobile-menu li {
    color: #fff;
    font-weight: 600;
    font-size: 1.5rem;
    margin: 0 !important;
	position: relative;
	background: none;
	list-style: none;

	&.expanded { background-color: black; }

  }
  #mobile-menu li.default {
    font-weight: 400;
  }
  #mobile-menu li.cta {
    background: $color-gray-cta;
  }

  #mobile-menu li.current:before {
    content: "";
    width: 2px;
    background: #be630e;
    position: absolute;
    top: 0;
    bottom: 0;
  }
  #mobile-menu li a, #mobile-menu li p {
    text-transform: uppercase;
    margin: 0;
    padding: 15px 50px 15px 36px;
    display: block;
  }

  #mobile-menu .slick-slide a {
    padding: 15px 0;
    margin-left: 40px;
  }

  #mobile-menu li a, #mobile-menu li p {
    color: #fff;
    text-decoration: none;
	border-bottom: 1px solid $color-dark-separator;
	transition: color $transition-duration $transition-timing-function;
  }

#mobile-menu li a {
	&::after {
		content: ">";
		color: white;
		font: normal 16px/1em "icomoon", sans-serif;
		text-align: center;
		text-transform: none;
		margin-top: -8px;
		position: absolute;
		top: 50%;
		right: 15px;
		min-width: 25px;
	}

	&.cta-external-link-icon span::after { @include icomoon(" "$icon-external-link, 12px); }
	&.cta-external-link-icon a::after {
		content: "";
		display: none;
	}
}

  #mobile-menu li.carousel {
    padding-right: 0; overflow: hidden;
  }

  /* No right arrow if no children content */
  #mobile-menu li.leaf a:after, #mobile-menu li.ad a:after, #mobile-menu li.carousel a:after {
    content: "" !important;
  }

  #mobile-menu li a {
	  &:not(.nolink):hover {
		  color: $color-primary;
	  }
	  &.nolink {
		  cursor: default; pointer-events: none;
		  * { pointer-events: initial; }
		}
  }
  #mobile-menu li a.more:after {
    content: ">" !important;
    color: $color-primary;;
    font-weight: 700;
    font: normal 12px/1em "icomoon", sans-serif;
    margin: 0 0 0 5px;
    position: relative;
    left: 8px;
  }
  #mobile-menu li a.more:before {
    content: "" !important;
  }

  #mobile-menu ul li a span span.live {
    text-indent: -999px;
    width: 26px;
    height: 20px;
    margin: 0 0 0 8px;
    padding: 0;
    background: url(../img/interface/menu-live-icon.svg) 50% 0 no-repeat;
    background-size: auto 200%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    top: 4px;
  }

  #mobile-menu ul li:hover a span span.live,
  #mobile-menu ul li:focus a span span.live {
    background-position: 50% 100%;
  }

  #mobile-menu li a.login:after {
    content: "1";
  }
  #mobile-menu li a.logout:after {
    content: "1";
  }
  #mobile-menu li a.register:after {
    content: "1";
  }
  #mobile-menu li a.account:after {
    content: "1";
  }

  #mobile-menu li a.ico-gatherer span:before {
    content: "";
  }
  #mobile-menu li a.ico-locator span:before {
    content: "";
  }
  #mobile-menu li a.ico-accounts span:before {
    content: "";
  }
  #mobile-menu li a.ico-gatherer:after {
    color: #fff;
    content: "g" !important;
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
  }
  #mobile-menu li a.ico-locator:after {
    color: #fff;
    content: $icon-locator !important;
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
  }
  #mobile-menu li a.ico-accounts:after {
    color: #fff;
    content: "1" !important;
    font: normal 22px/1em "icomoon", sans-serif;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -8px;
  }

  #mobile-menu li.has-children a:after {
    content: ">";
  }

  #mobile-menu ul li.leaf.top_level_right .ico-locator { background-color: #0b0b0b !important; }

  #mobile-menu #mm-0 li a,
  #mobile-menu li.has-children a,
  #mobile-menu li.hub-link a,
  #mobile-menu li.no-link p {
    padding-left: 30px;
    font-size: 1.6rem;
    border-bottom: 1px solid $color-dark-separator;
  }


  #mobile-menu #mm-0 li.top_level_right a {
    border-bottom: none;
  }

	#mobile-menu li.top_level_right a {
		display: flex;
		align-items: center;
		padding-right: 20px;

		img {
			width: 20px;
			height: auto;
			margin: 0;
			padding: 0;
			display: block;
			order: 2;
			flex-shrink: 0;
		}

		span {
			flex-grow: 1;
			margin-right: 18px;
		}

		&::after {
			content: none !important;
		}
	}

  #mobile-menu li.no-link p {
    color: #ababab;
  }

  #mobile-menu #mm-0 li a:before,
  #mobile-menu li.has-children a:before,
  #mobile-menu li.hub-link a:before,
  #mobile-menu .mm-subopen:before {
    display: none;
  }

  #mobile-menu #mm-0 li.utility-link a,
  #mobile-menu #mm-0 li.leaf a {
    background: #000;
	font-size: 1.4rem;
  }
  #mobile-menu li.utility-link a.gatherer:after, #mobile-menu li.utility-link a.locator:after {
    font-size: 23px;
    margin-top: -12px;
  }
  #mobile-menu li.utility-link a.gatherer:after {
    content: "g";
  }
  #mobile-menu li.utility-link a.locator:after {
    content: "l";
  }

  #mobile-menu .mm-panel {
    background: #0b0b0b;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
	transition: transform .25s ease;
	overflow: auto;
  }

  #mobile-menu .mm-subtitle {
    font-size: 1.4rem; position: sticky; top: 0; z-index: 10; background: black;
  }
  #mobile-menu .mm-subtitle .mm-subclose {
    padding-left: 36px; position: relative; padding: 19px 50px 20px 36px;
  }

  #mobile-menu .mm-subtitle .mm-subclose:before { content: ""; width: 50%; height: 2px; position: absolute; top: 44px; left: 15px; background: linear-gradient(to right, rgba(0,0,0,1) 1%,rgba(157,10,14,1) 52%,rgba(0,0,0,1) 100%); }


  #mobile-menu .mm-subtitle .mm-subclose:after {
    content: "<";
    color: #fff;
    font: normal 14px/1em "icomoon", sans-serif;
    min-width: 0;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    right: auto;
    left: 10px;
  }

  #mobile-menu .mm-subopen {
    background: rgba(0, 0, 0, 0);
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
  }

  #mobile-menu .mm-panel.mm-hidden {
    display: none;
  }
  #mobile-menu .mm-panel.mm-opened, #mobile-menu .mm-panel.mm-highest.mm-current {
    transform: translateX(0%);
  }
  #mobile-menu .mm-panel.mm-subopened, #mobile-menu .mm-panel.mm-highest {
    transform: translateX(-100%);
  }
  #mobile-menu .mm-panel.mm-highest, #mobile-menu .mm-panel.mm-highest.mm-current {
    z-index: 0;
  }

  #mobile-menu .submenu-carousel .slick-prev,
  #mobile-menu .submenu-carousel .slick-next {
    display: none;
  }
  #mobile-menu .submenu-carousel .slick-slider {
    width: 100%;
    margin: 0 auto;
  }
  #mobile-menu .submenu-carousel .slick-slider .slick-slide {
    height: 100%;
    margin: 0 5px;
    text-align: center;
  }

  #mobile-menu li.carousel a {
    border-bottom: none;
  }

  #mobile-menu .submenu-carousel {
    margin: 0;
    position: relative;
    border-bottom: 1px solid $color-dark-separator;
  }

  #mobile-menu ul.gallery .img-with-label { display: none; }


@media ($breakpoint-tablet-portrait) {
  header {
    display: none;
  }
  #mobile-menu {
    display: block;
  }
  html.mobile-menu-open, html.mobile-menu-open body {
    height: 100%;
    overflow: hidden;
  }

  .mobile-menu-open #viewport {
    filter: blur(3px);
    position: relative;
  }
  .mobile-menu-open #mobile-menu nav {
    transform: translateX(270px);
  }

  /* Breaking News */
  .breaking-news #breaking-news {
    height: 170px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  #breaking-news .visual {
    width: 30%;
    height: 170px;
  }
  #breaking-news .visual img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
  }
  #breaking-news .content {
    width: 70%;
    padding: 15px 30px 0 15px;
  }
  #breaking-news .content h3 {
    margin: 0 0 5px;
    padding: 0;
    color: #fff;
    font-size: 1.4rem;
  }

  /* Alert */
  .alert #alert {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

}

@media (max-width: 479px) {

  /* Breaking news */
  .breaking-news #mobile-menu {
    top: 0;
  }
  .breaking-news #breaking-news {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999999;
    border-bottom: none;
  }
  .breaking-news #breaking-news .content {
    width: 100%;
    padding: 70px 20px 20px;
  }
  .breaking-news #breaking-news .visual {
    width: 100%;
    height: auto;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }
  .breaking-news #breaking-news .visual img {
    width: 100%;
    height: auto;
    position: relative;
    left: auto;
    bottom: auto;
  }

  /* Alert */
  .alert #alert {
    height: 60px;
    padding: 0;
  }
  .alert #alert p {
    padding: 5px 35px 5px 10px;
    font-size: 1.2rem;
  }
  .alert #alert .close {
    margin-top: -15px;
    top: 50%;
    right: 5px;
  }

}



@media ( max-width: 1159px ) {
	#menu {
		.main-menu {
			.top_level_right {
				&.leaf {
					min-width: auto;
					padding-right: 15px;


					a {
						span {
							display: none;
						}
					}
				}
			}
		}
	}
}
